.button {
    cursor: pointer;
}

.button:hover {
    background-color: skyblue;
}

.button--link {
    border: none;
    background: none;
    color: #007bff;
    text-decoration: underline;
    padding: 0;
    font-size: 20px;
}