body {
    margin: 0;
}

.header {
    background-color: burlywood;
}

.logo {
    display: flex;
    flex-direction: row;        
}

h1 {
    margin-top: 1.5rem;
    align-items: center;
}

.skip-link {
    position: absolute;
    top: -50px;
    padding: 8px 16px;
}

.skip-link:focus {
    top: 0;     
}

.h1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}


.header a img {
    width: 100px;
    height: 100px;
    display: block; 
}

.nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content : space-around;
    align-items: center;
}

.hamburger {
    font-size: 1.5rem; 
    font-weight: bold; 
    border: none; 
    background: none;
    position: relative;
}

.mobile-nav {
    display: none;
    position: absolute;
    right: 0;
    padding: 0;
}

.main {
    background-color: papayawhip;
}

.title {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.panel {
    margin: 1rem;
    border: solid;
    border-width: thin;
    display: flex;
    flex-direction: row;
}

.panel div {
    margin: 0.5rem;
}

.panel h2 {
    text-align: center;
}

.panel .pic {
    width: 200px;
    height: 200px;
    padding: 0.5rem;
    flex-shrink: 0;
}

.grid-container {
    padding: 1.5rem;
}

.subscribe {
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font: inherit;
}

.card {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 1rem;
}

.item {
    border-radius: 10px;
    border: solid;
    border-width: thin;
    background-color: #eee;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.item:hover {
    transform: translateY(5px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.card img {
    margin: 1rem;
    max-width: 100%;
}

.card p {
    padding: 1rem;
}

.card a {
    width: 6rem;
    margin: 1rem;
    padding: 1rem;
    background-color: #b8c68c;
    border-radius: 15px;
    margin-top: auto;
    text-align: center;
}


.item {
    grid-column: span 4;
    grid-row: span 6;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0.5rem;
    border-radius: 10px;
    border: solid;
    border-width: thin;
    background-color: #eee;
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.modal {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 1rem;
    background-color: white;
    z-index: 10;
    display: none;
    border: solid;
}
  
.modal-content {
    position: relative;
}
  
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 5;
    display: none;
}

label.subscribe_label {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.subscribe-button {
    align-self: flex-start;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: lime;
    font-size: medium;
}

.cancel {
    align-self: flex-end;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: lightcoral;
    font-size: medium;
}

.name_error, .email_error, .confirm_error {
    color: red;
    font-size: 0.9rem;
    display: none; 
    margin-top: 5px;
}


.footer {
    background-color: burlywood;
    padding: 0.5rem;
}

.footer-nav ul {
    display: flex;
    flex-direction: row;
    justify-content : space-around;
}

li {
    list-style: none;
}

.mobile-menu li a:hover, .nav a:hover, .footer-nav ul li a:hover {
    background-color: dodgerblue;
}


@media (min-width: 44rem ){
    .hamburger {
        display: none;
    }
}

@media (max-width: 44rem ){
    .nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .mobile-menu[aria-hidden="true"] {
        display: none;
    }

    .mobile-menu {
        flex-direction: column;
        display: flex;
    }
    
    .card item {
        grid-column: span 12;
        grid-row: span 2;
    }     

    .panel .pic {
        width: 125px;
        height: 125px; 
    }

    .footer-nav ul { 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        

} 


