body {
  background-color: rgb(221, 234, 239); 
  margin: 5rem;
}

#item {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

img {
  width: 100px;
}

p {
  margin: 2rem;
}

button {
  margin: 0.5rem;
  background-color: rgb(238, 246, 251);
  border-radius: 5px;
  border-color: rgb(181, 210, 224);
}

button:hover {
  background-color: rgb(32, 150, 224);
}